html, body{
    display: inline-block;
    text-align: center;
    margin: 0;
}
#container{
    width: 800px;
    height: 500px;
    background: rgb(238, 235, 235);
    margin-top: 20%;
    border-radius: 10px;
}

#heading{
    width: 400px;
    height: 40px;
    position: absolute;
    margin-left: 200px;
    font-size: 60px;
    font-family: 'Roboto', sans-serif;
}
#container input{
    width: 50%;
    height: 40px;
    outline: none;
    border: none;
    border-radius: 5px;
    margin-top: 40%;
    padding-left: 10px;
    font-family: 'Roboto', sans-serif;
    color: grey;
}
::placeholder{
    color: rgb(131, 130, 130);
}

#display{
    width: 100px;
    height: 40px;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    margin-left: 10px;
    border-radius: 4px;
    background: rgb(9,121,90);
    background: linear-gradient(153deg, rgba(9,121,90,1) 46%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 100%);
    color: white;
    cursor: pointer;
    position:relative;
    -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

#display:hover{
    background: rgb(9,121,90);
    background: linear-gradient(180deg, rgba(9,121,90,1) 46%, rgba(255,255,255,0) 96%, rgba(255,255,255,0) 100%);
}